body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #d54242;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  #participants-list {
    margin-top: 20px;
  }
  
  #participants ul {
    list-style: none;
    padding: 0;
  }
  
  button {
    background-color: #d54242;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #bf3939;
  }
  
  #email-status {
    margin-top: 20px;
    font-weight: bold;
  }
  